.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.container {
  position: absolute;
  z-index: 100;
}

.box {
  position: absolute;
  z-index: 100;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.6);
  border-radius: 6px;
}
